.signUpForm {
  flex:1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowrap;
  /* background-color: yellow; */
  
}



.ageSelector{
  flex-shrink: 1;
  width: 6em;
  padding: 2em;
}



.signUpTitle{
  text-align: center;
}

.signUp{
  background-color: aliceblue;
  border: 0.2em solid coral;
  border-radius: 1em;
  aspect-ratio: 12 / 16;
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.signUpContainer{
  width: 100%;
  height: 100dvh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}