
.bookingBody {
  background-color: aliceblue;
  
  min-height: 100vh;
}

.pracContainer {
  height: 80px;
  background-color: lightblue;
  border-radius: 1em;
}

.datepicker button {
  border: 2px solid black;
  background-color: lightblue;
  border-radius: 1em;
  margin-left: 20px;
}

.pracSelect{
  display: grid;
  width: 100%;
  gap: 10px;
  background-color: aliceblue;
  padding: 2em;
  grid-template-columns: 1fr 1fr 1fr;
}

.pracContainer:active {
  border-color: coral;
}
.viewTimes:active {
  border-color: coral;
}
@media only screen and (max-width: 700px) {
  /*For mobile screens*/
  .pracSelect {
    
    display: grid;
    padding: 2em;
    grid-template-columns: 1fr;
  }
}

.datepicker {
  padding: 5em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.viewTimes {
  width: 100px;
}

.timesTitle {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}
.selections {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.timeSection {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.availTimes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px
}

@media only screen and (max-width: 700px) {
  /*For mobile screens*/
  .availTimes {
    grid-template-columns: 1fr 1fr;
    
  }
  
}

.timeButton {
  width: 15vw;
  height: 50px;
  font-size: 2em;
  border: 2px solid black;
  background-color: lightblue;
  border-radius: 1em;
}
.timeButton:active {
  border-color: coral;
}

@media only screen and (max-width: 700px) {
  /*For mobile screens*/
  .timeButton {
    width: 40vw;
    height: 50px;
    font-size: 2em;
    border: 2px solid black;
    background-color: lightblue;
    border-radius: 1em;
  }
  
}
.subForm {
  padding: 2em;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.subForm button {
  border: 2px solid black;
  background-color: lightblue;
  border-radius: 1em;
  margin-left: 20px;
  height: 60px;
  width: 150px;
 
}

.book:active {
  border-color: coral;
}