.bookingContainer
{
  width:100%;
  background-color: blue;
  display: flex;
  /* flex:1; */
  justify-content: start;
  
  align-items: center;
  flex-flow: column wrap; 
  /* padding: 2em; */

  /* height: 500px; */
}

.pracSelect{
  display: grid;
  gap: 10px;
  background-color: yellow;
  padding: 2em;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 700px) {
  /*For mobile screens*/
  .pracSelect {
    display: grid;
    background-color: yellow;
    padding: 2em;
    grid-template-columns: 1fr;
  }
}

.datepicker {
  padding: 5em;
  display: flex;
  justify-content: center;
}

.availableBookingContainer{
  text-align: center;
  background-color: red;
  aspect-ratio: 15 / 16;
  height: clamp(100px, 20vmin, 20em);
  padding: 1em;
  border-radius: 0.5em;
}